.roadmap {
  background-color: #161634;
}
.paragraph {
  background-image: linear-gradient(
    to left top,
    #fd562a,
    rgba(211, 40, 83, 0.7),
    rgba(148, 31, 95, 0.8),
    #4f2155,
    #161634
  );
  box-shadow: 10px 10px orangered;
  color: white;
}
.container2 {
  background-color: #161634;
}
.hed {
  color: #fd562a;
}
.featurette-heading {
  font-size: 32px;
  font-family: "Oxanium", cursive;
}
